body {
    text-align: center;
    background-color: lightgray;
}

table {
    margin: 10px auto;
    border: 5px solid gray;
}

thead {
    background-color: gray;
}

th {
    background-color: gray;
}

td {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    border: 1px solid gray;
    cursor: pointer;
}

.cellClicked {
    background-color: rgb(88, 88, 88);
}

.lives {
    width: 60px;
    height: 40px auto;
    cursor: pointer;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    border: 1px solid gray;

}

.dark-mode {
    border-color: lightblue;
}

.difficult {
    border: 3px solid gray;
    width: 300px ;
    height: 20px auto;
    margin: auto;
}

.difficult button {
    background-color: rgb(160, 160, 160);
    margin-bottom: 3px;
    margin-left: 1px;
    margin-right: 1px;
}

button {
    cursor: pointer;
}

.mode {
    margin-right: 150px ;
    margin-top: 5px;
    background-color: rgb(160, 160, 160);
}
